<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 <hibernate-configuration>
   <session-factory>
	     <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	     <property name="connection.url">jdbc:mysql://localhost/cl1alarico</property>
	     <property name="connection.username">root</property> <!-- usuario y contra del servidor de XAMP, usuario: root y no tiene contraseña -->
	     <property name="connection.password"> </property>
	     <property name="dialect">org.hibernate.dialect.MySQLDialect</property> <!-- Se quita el 5 para que se acomode a cualquier versión -->
	     <property name="hibernate.show_sql">true</property>
   </session-factory>
 </hibernate-configuration>